/* Base  ================================ */
@import url('https://fonts.googleapis.com/css?family=Delius');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@media screen and (min-width: 768px) {
   body {
      margin: 0 auto;
      width: 768;
   }
}

@media screen and (max-width: 375px) {
   #banner {
      display: none;
   }
}

body {
   font-family: 'Delius', sans-serif;
   font-size: calc(12px + 1vw);
   line-height: 1.5;
   margin: 0;
   color: #000;
   background-color: #fff;
}

code {
   font-family: 'Source Code Pro', monospace;
}

pre code {
   font-size: calc(6px + 1.25vw);
}

header > ul,
.slide-article ul {
   margin-top: 0;
}

.glitchButton {}

.glitchButtonElement {
   padding: 0 0.5em 0 0 !important;
}

.glitchButtonElement img {
   width: calc(12px + 1vw) !important;
}

.caution,
.caution code,
.caution :link,
.caution :visited {
   background: #feefe3;
   color: #bf360c;
   padding: 0 0.25em;
   border-radius: .25em;
}

.night,
#night  {
   color: #fff;
   background-color: darkgrey;
}

.day,
#day {
   color: #000;
   background-color: #fff;
}

#high-contrast,
.high-contrast {
   color: #ffff00;
   background-color: black;
}

.high-contrast a {
   color: white;
}

.red {
   color: red;
}

.green {
   color: green;
}

.banner {
   text-align: center;
   margin-top: 0;
   color: #677514;
   min-height: 35vh;
   max-height: 45vh;
   padding: 0 1vw;
}

.hidden {
   display: none;
}

.thumbnail {
   width: 18% !important;
   vertical-align: middle;
   border: 1px solid lightgray;
}

/* Layout  =============================== */

.flexbox,
.flexbox-item {
   display: -webkit-flex;
   display: flex;
   padding-top: 1.5em;
   /* fix navbar */
}

.header {
   position: fixed;
   width: 100%;
   padding: 0.1em;
   border: solid 1px #e8e6e6;
   background: inherit;
   /*
   -webkit-transition: font-size 1.5s linear;
   transition: font-size 1.5s linear;
*/
}

/* navbar  =============================== */

#navbar {
   display: flex;
}

#navbar span {
   padding-right: 1vw;
}

#navbar input,
#navbar label {
   background: #f8f8f8;
   border: solid 1px #ccc;
   border-radius: 3em;
   font-size: calc(6px + 0.3em);
}

input[type=search] {
   border: solid 1px #ccc;
   padding: 0.1em 1em;
   width: 10vw;

   -webkit-border-radius: 10em;
   -moz-border-radius: 10em;
   border-radius: 5em;

   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   transition: all .5s;
}

input[type=search]:focus {
   width: 30vw;
   background-color: #fff;
   border-color: #66CC75;

   -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
   -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
   box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
   color: #999;
}

input::-webkit-input-placeholder {
   color: #999;
}

/* Nav Panel  ================================ */

.nav-panel {
   /* prevent shrinking and growing */
   -webkit-flex: none;
   flex: none;
   padding: .5vh .5vw 0 0;
   height: 90vh;
   max-width: 30vw;
   border-left: solid 1px #e8e6e6;
   border-right: solid 1px #e8e6e6;
   font-size: calc(6px + 1vw);
   display: none;
   /*         position: -webkit-sticky;
   position: sticky;
*/
   top: 1vh;
}

#nav-main detail detail {
   padding-left: 1.75vw;
}

.nav-indent {
   padding-left: 1.0vw;
}

/*
@media (max-width:768px) {
   .nav-panel {
      display: none;
      background-color: red;
   }
}
*/
#navbar {
   width: 99%;
}

#nav-main details,
#nav-main div {
   padding: 1vh 0 0 1vw;
   display: block;
}

#nav-main > details > details {
   padding-left: 1.5vw;
}

#nav-main details details details {
   padding-left: 1.5vw;
}

#toggle-nav,
[data-article],
summary {
   cursor: pointer;
}

#toggle-nav {
   opacity: 0.5;
}

nav span {
   text-decoration: none;
}

nav span a {
   text-decoration: none;
}

nav ul {
   list-style-type: none;
   margin: 0;
}

nav details ul {
   padding: 0 0 0 1.5vw;
}

#colour-scheme {
   padding: 1vh 0;
}

nav > details > a {
   display: block;
   padding-left: 1.5vw;
}

nav > details > details > a {
   display: block;
   padding-left: 1.5vw;
}

details details summary a {
   display: inline;
}

.nav-section-end {
   border-bottom: solid 1px #e7e7e7;
}

#voiceSelect {
   max-width: 15vw;
}

button,
select {
   color: inherit;
   background: inherit;
   font-size: inherit;
   width: 100%;
   border-radius: 0.5vw;
}

/* Main Section  ================================ */
#banner {
   background-image: url(https://cdn.glitch.com/3943c32b-ac0d-4285-afbf-c67ee5a851ca%2Fecosia.png?v=1571348802773);
   background-repeat: no-repeat;
   background-size: cover;
}

#canvasClock {
   width: 6vw;
   float: right;
}

#canvasSolar {
   float: left;
   width: 6vw;
}

#ecosia-link {
   text-align: center;
   text-decoration: none;
}

#ecosia-link svg {
   width: 4vw;
   margin: 0 1vw;
   vertical-align: bottom
}

#section-main {
   /*         transition: all 3s linear; */
   height: 90vh;
   min-width: 70vw;
   padding-top: 1vh;
}

#section-main summary {
   /*        margin: 0.5em; */
}

#home-page img {
   border-radius: 1vw;
}

#article-container {
   min-width: 70vw;
}

pre,
.panel {
   border: 1px solid #e8e6e6 !important;
   border-radius: 0.5vw;
   margin: 0.25em;
   padding: 0.25em;
   overflow-x: auto;
}

.panel details summary {
   /*         padding-left: 1vw; */
}

.panel details details summary {
   /*         padding-left: 1.5vw; */
}

.panel details details details summary {
   padding-left: 1.5vw;
}

.panel details details details details summary {
   padding-left: 0;
}

.lab-sheet {
   /* A4 in px  */
   min-width: 595px;
   min-height: 842px;
}

.list-style-type-none, .external-link {
   list-style-type: none;
}

.external-link li {}

.external-link li:before {
   content: '\279A';
   margin-left: -1.0em;
}


.slide {
   font-size: 3.15vw;
}

.slide-medium {
   font-size: 2.15vw;
}

.slide-normal {
   font-size: 1.75vw;
}

.slide-small {
   font-size: 1.15vw;
}

.slide .footnote {
   font-size: 1vw;
   display: block;
}

.slide pre code {
   font-size: calc(6px + 1.75vw);
}

.slide code {
   font-size: 1em;
}

.slide .slide-article {
   display: flex;
   flex-direction: column;
   min-height: 90vh;
   padding: 0 1vw;
}

.slide img {
   padding: 1vh 1vw;
   margin: 1vh 1vw;
}

.slide header {
   font-weight: 600;
   padding: 0.25em 0;
}

.lab-sheet ul li,
.slide ol li,
.slide ul li,
.slide ol li {
   margin: 0.5em;
}

.slide ol {
   margin: 0.5em;
   border: solid 1px #e7e7e7;
   border-radius: 0.5em;
}

.slide ol ol {
   list-style-type: lower-alpha;
}

.list-style-none {
   list-style-type: none;
   padding-left: 0;
}

.border-circle {
   padding: 2vw;
   border-radius: 10vw;
   border-color: green;
   border-width: .5vw;
   border-style: solid;
}

.text-decoration-none {
   text-decoration: none;
}

.left-margin-none {
   margin-left: -0.85em !important;
}

.icon {
   width: 24px;
   opacity: 0.25;
   cursor: pointer;
}

.push {
   margin-left: auto;
}

.error {
   color: red;
}

.float-right {
   float: right;
}

.float-left {
   float: left;
}

.clear-both {
   clear: both;
}
.center {
   text-align: center;
   margin: 0 auto;
}

.width-quarter {
   width: 25% !important;
}

.width-half {
   width: 50% !important;
}

.width-three-quarter {
   width: 75% !important;
}

.width-full {
   width: 95% !important;
}

.bottom {
   vertical-align: bottom;
}

.two-col {
   column-count: 2;
   column-width: auto;
}

.padding-left-1vw {
   padding-left: 1vw;
}

#btnToTop {
   display: none;
   position: fixed;
   bottom: 1vh;
   right: 5vw;
   width: 4vw;
   z-index: 99;
   border: none;
   background-color: inherit;
   color: inherit;
   cursor: pointer;
   border-radius: 5em;
   font-size: 1.5em;
}

#btnToTop:hover {
   background-color: #e1c56e;
}

.span-margin {
   margin: 0.5em;
}
