body {
    font-size: small;
}

table {
    table-layout: auto;
}

td,
th {
    padding: 1vw;
}

tr:nth-child(odd) {
    background-color: lightyellow;
}

tbody tr:nth-child(even) {
    background-color: white;
}

.book {
    margin: 1vw 0;
}

#nav-main {
    width: 95%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    margin: 5px;
}

span:lang("th") {
    direction: ltr;
    font-size: x-large;
}

span:lang("fa") {
    direction: rtl;
}

button {
    min-width: 12vw;
    padding: 0.5vw;
    margin: 0.5vw;
}

nav a {
    min-width: 5vw;
    padding: 0.5vw;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: lightgray;
    border-radius: 0.2vw;
}

nav span {
    padding: 0.5vw;
}

.float-right {
    float: right;
}

#feedback {
    margin: 1vw;
    padding: 1vw;
}

.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

#word {
    background-color: lightyellow;
    color: black;
    padding: 1vw;
    font-size: larger;
}

.default-button {
    margin: 5px;
    padding: 5px;
    background-color: lightyellow;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

span.button {
    margin: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    /* font-size: x-large; */
}

/* order matters for cascading style sheet ! */
.feedback {
    font-family: monospace;
    background-color: lightskyblue;
    color: black;
    border: none;
    border-radius: 0.5vw;
}

.correct {
    background-color: greenyellow;
    color: black;
    border-radius: 0.5vw;
}

.incorrect {
    background-color: red;
    color: white;
    border-radius: 0.5vw;
}

font-size-small {
    font-size: small;
}

.border {
    border: 1px solid var(--border);
    padding: 1vw;
    margin: 1vw;
}