/* ES additions */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/ubuntu-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/ubuntu-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}

summary::marker {
    color: green;
}

/*
:lang(TH) {
    font-size: 1.75rem;
}
*/

span.notice {
    padding: 1rem 0.25rem;
}

#conversations {
    padding: 0 1rem;
    font-size: medium;
    line-height: 2rem;
}

.display-none {
    display: none;
}

.class-exercise {
    padding: 1rem;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.dark-red {
    color: darkred;
    background-color: white;
    border-radius: 5px;
    padding: 0.1rem;
}

.green {
    color: green;
}

.white {
    color: white;
}

.black {
    color: black;
}

.background-white {
    background-color: white;
}

.background-orange {
    background-color: orange;
}

.background-red {
    background-color: red;
}

.background-blue {
    background-color: #00247d;
}

.border-top {
    border-top: 1px solid var(--border);
}

.border-left {
    border-left: 1px solid var(--border);
    padding: 1rem;
}

/*
.nav-separator {
    padding: 2.5rem 0;
    border-top: 1px solid var(--border);
}
*/

.no-margin {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.text-alignment-center {
    text-align: center;
}

.text-alignment-unset {
    text-align: unset;
}

.font-size-100px {
    font-size: 100px;
    vertical-align: top;
}

.font-size-small {
    font-size: 0.95rem;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

span.notice {
    padding: 1.15rem;
}

.notice img {
    float: inherit;
    margin: 0 0.5rem;
}

.header {
    display: block;
    margin: 0;
    padding: 0.5rem;
    line-height: 1.1;
    font-size: 2.1rem;
    overflow-wrap: break-word;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.font-weight-normal {
    font-weight: normal;
}

.list-style-arabic-indic {
    list-style: arabic-indic;
}

.list-style-none {
    list-style: none;
}

.list-style-square {
    list-style: square
}

.list-style-dash {
    list-style: "- ";
}

.list-style-ldash {
    list-style: "\2014  ";
}

ul li.li-exclamation::before {
    color: red;
    font-size: 1.5rem;
    font-weight: bolder;
    content: "! ";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: italic;
}

p,
li {
    font-style: normal;
}

aside p {
    text-align: initial;
}

aside img {
    float: inherit;
    margin: 0.1rem 0.3rem 0 0;
}

img {
    margin: 0 0.5rem;
}

aside {
    margin: 0.1rem;
}

figure.notice {
    margin: 1rem 0;
}

nav details h1 {
    margin: 1rem 0;
    border-radius: 5px;
}

ol.toc {
    counter-reset: counter;
    list-style-type: none;
}

ol.toc li {
    counter-increment: counter 1;
}

ol.toc li:before {
    content: counters(counter, ".", decimal) " ";
}

table {
    width: 100%;
    table-layout: fixed;
}

/*
th:first-child,
td:first-child {
  width: max-content;
}
*/
/* ES end additions */