/* ES additions */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/ubuntu-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/ubuntu-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}

:root {
    /* Set sans-serif & mono fonts */
    --sans-font: "Ubuntu", -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
        "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
        "Helvetica Neue", sans-serif;
    --mono-font: "Ubuntu Mono", Consolas, Menlo, Monaco, "Andale Mono", monospace;
    --standard-border-radius: 5px;
}

:root,
:root.light,
::backdrop {
    /* Default (light) theme */
    --bg: #fff;
    --accent-bg: #f5f7ff;
    /*  --accent-bg: greenyellow;  */
    --text: #212121;
    --text-light: #585858;
    --border: #898EA4;
    --accent: #0d47a1;
    /*   --accent: green; */
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
}

:root,
:root.dark,
::backdrop {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {

    :root,
    :root.dark,
    ::backdrop {
        color-scheme: dark;
        --bg: #212121;
        --accent-bg: #2b2b2b;
        --text: #dcdcdc;
        --text-light: #ababab;
        --accent: #ffb300;
        --code: #f06292;
        --preformatted: #ccc;
        --disabled: #111;
    }

    /* Add a bit of transparency so light media isn't so glaring in dark mode */
    img,
    video {
        opacity: 0.8;
    }
}

#conversations {
    padding: 0 1rem;
    font-size: medium;
}

.display-none {
    display: none;
}

.class-exercise {
    padding: 1rem;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.dark-red {
    color: darkred;
    background-color: white;
    border-radius: 5px;
    padding: 0.1rem;
}

.green {
    color: green;
}

.white {
    color: white;
}

.black {
    color: black;
}

.background-white {
    background-color: white;
}

.background-orange {
    background-color: orange;
}

.background-red {
    background-color: red;
}

.border-top {
    border-top: 1px solid var(--border);
}

.border-left {
    border-left: 1px solid var(--border);
    padding: 1rem;
}

.nav-separator {
    padding: 2.5rem 0;
    border-top: 1px solid var(--border);
}

.no-margin {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.text-alignment-center {
    text-align: center;
}

.text-alignment-unset {
    text-align: unset;
}

.font-size-100px {
    font-size: 100px;
    vertical-align: top;
}

.font-size-small {
    font-size: 0.95rem;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

span.notice {
    padding: 1.15rem;
}

.notice img {
    float: inherit;
    margin: 0 0.5rem;
}

.header {
    display: block;
    margin: 0;
    padding: 0.5rem;
    line-height: 1.1;
    font-size: 2.1rem;
    overflow-wrap: break-word;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.font-weight-normal {
    font-weight: normal;
}

.list-style-arabic-indic {
    list-style: arabic-indic;
}

.list-style-none {
    list-style: none;
}

.list-style-square {
    list-style: square
}

.list-style-dash {
    list-style: "- ";
}

.list-style-ldash {
    list-style: "\2014  ";
}

ul li.li-exclamation::before {
    color: red;
    font-size: 1.5rem;
    font-weight: bolder;
    content: "! ";
}

.first-col-fix {
    width: max-content;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.four-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: italic;
}

p,
li {
    font-style: normal;
    text-align: justify;
}

aside p {
    text-align: initial;
}

aside img {
    float: inherit;
    margin: 0.1rem 0.3rem 0 0;
}

img {
    margin: 0 0.5rem;
}

aside {
    margin: 0.1rem;
}

figure.notice {
    margin: 1rem 0;
}

nav details h1 {
    margin: 1rem 0;
    border-radius: 5px;
}

ol.toc {
    counter-reset: counter;
    list-style-type: none;
}

ol.toc li {
    counter-increment: counter 1;
}

ol.toc li:before {
    content: counters(counter, ".", decimal) " ";
}

table {
    width: 100%;
    table-layout: fixed;
}

/*
th:first-child,
td:first-child {
  width: max-content;
}
*/
/* ES end additions */