@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ubuntu-v20-latin-regular.eot");
    src: url("../fonts/ubuntu-v20-latin-regular.eot?#iefix") format("ie9-skip-eot"),
        url("../fonts/ubuntu-v20-latin-regular.woff2") format("woff2"),
        url("../fonts/ubuntu-v20-latin-regular.woff") format("woff");
}

body>header {
    padding: 0;
}

body>header>nav {
    padding: 0;
    background-color: var(--border);
}

header>nav a,
header>nav a:visited {
    margin: 0;
}

.display-none {
    display: none;
}

#div-input-word {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: 1rem;
    vertical-align: middle;
}

#searchWord {
    margin: 0.55rem 0;
    width: 100%;
}

.grid-two-col,
#dictionaryMatchedWords,
#searchWords {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 1rem;
}

#dictionaryMatchedWordsContainer {
    max-block-size: 15rem;
    overflow: scroll;
}