@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ubuntu-v20-latin-regular.eot");
    src: url("../fonts/ubuntu-v20-latin-regular.eot?#iefix") format("ie9-skip-eot"),
        url("../fonts/ubuntu-v20-latin-regular.woff2") format("woff2"),
        url("../fonts/ubuntu-v20-latin-regular.woff") format("woff");
}

/* reduce size on mobiles */
@media only screen and (max-width: 720px) {
    body {
        font-size: 1rem;
        line-height: normal;
    }
}

body>header {
    padding: 0;
}

body>header>nav {
    padding: 0;
    background-color: var(--border);
}

header>nav a,
header>nav a:visited {
    margin: 0;
}

details {
    padding: 0.7rem .25rem;
}

label,
input {
    font-size: 1rem;
}

button {
    margin: 0.1rem;
    padding: 0.5rem;
}

.display-none {
    display: none;
}

#div-input-word {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: 1rem;
}

#searchWord {
    margin: 0.1rem 0;
    width: 100%;
}

.grid-two-col,
#dictionaryMatchedWords,
#searchWords {
    display: grid;
    grid-template-columns: auto auto;
    /* gap: 0 1rem; */
}

#dictionaryMatchedWordsContainer {
    max-block-size: 15rem;
    overflow: scroll;
}

.correct {
    background-color: lightgreen !important;
    color: green !important;
}

.incorrect {
    background-color: lightpink;
    color: red;
}

.info {
    background: var(--marked);
    color: black;
}

#feedback {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.2rem;
    font-size: small;
    background-color: var(--marked);
    border-bottom: 1px solid var(--border);
}

.highlight {
    background-color: yellow;
    font-weight: bolder;
    font-size: large;
    border: 1px solid goldenrod;
}

.highlight-paused {
    background-color: greenyellow;
    font-weight: bolder;
    font-size: large;
    border: 1px solid goldenrod;
}

.highlight-red {
    background-color: goldenrod;
    font-weight: bolder;
    font-size: large;
    border: 1px solid yellow;
}

#navDelay {
    font-size: 1rem;
    border-bottom: 1px solid var(--border);
}

#inputDelay {
    width: max-content;
}